@media screen and (max-width:800px) {
    /* body{
        background-color: red;

    } */
    header{
        height: 22vh;
        
    }
    .logo{
        justify-content: center;
        margin-top: 10px;
    }
    nav{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }
    ul{
        justify-content: center;
    }
    ul li{
        font: xx-small;
    }
    .search{
        justify-content: center;
    }
    .slider{
        height: 30vh;
    }
}